@page "/"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SocialPlatformBlazor.Client.Components
@using SocialPlatformBlazor.Shared.ViewModels.Posts
@using SocialPlatformBlazor.Shared.ViewModels.Users
@using SocialPlatformBlazor.Client.Services

@inject PostsService postsService

<div class="newsfeed">
    <PageTitle>SPB - Newsfeed</PageTitle>
    @if (Posts != null)
    {
        @foreach (var post in Posts)
        {
            <PostInFeed Post="post" />
        }
    }
    <InfiniteScrolling ItemsProvider="GetItems">
        <ItemTemplate Context="item">
            <PostInFeed Post="item" />
        </ItemTemplate>
        <LoadingTemplate>
            <div>Loading...</div>
        </LoadingTemplate>
    </InfiniteScrolling>
</div>
@code {
    private int currentLastPost = 0;

    private int loadPostsCount = 10;

    private IEnumerable<PostInFeedViewModel>? Posts { get; set; }


    async Task<IEnumerable<PostInFeedViewModel>> GetItems(InfiniteScrollingItemsProviderRequest request)
    {
        var posts = await postsService.LoadPostsAsync("api/posts", currentLastPost, loadPostsCount);
        if (posts != null)
        {
            currentLastPost += loadPostsCount;
            return posts;
        }
        return new List<PostInFeedViewModel>();

    }
}