@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@using SocialPlatformBlazor.Shared.ViewModels.Users

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@inject HttpClient Http

<CascadingValue Value="@baseUserData" Name="UserData">
    <HeaderNav />
    <div class="page">
        <div class="sidebar col-md-3">
            <NavMenu />
        </div>
        <main class="col-md-6">
            <div class="top-row px-4 auth">
                <AuthorizeView>
                    <Authorized>
                        Hello, @context.User?.Identity?.Name!
                        <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
                    </Authorized>
                </AuthorizeView>
            </div>
            <section id="content" class="mx-auto px-3">
                @Body
            </section>
        </main>
        <div class="sidebar comm-sidebar col-md-3">
            <CommunicationSidebar />
        </div>
    </div>
</CascadingValue>



@code {

    private BaseUserInfoModel? baseUserData;

    protected override async Task OnInitializedAsync()
    {
        await PopulateUserData();
    }

    private async Task PopulateUserData()
    {
        try
        {
            baseUserData = await Http.GetFromJsonAsync<BaseUserInfoModel>("api/users");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }



}