

.post-article {
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
    padding: 5px 10px;
    border: 1px solid rgb(219, 217, 217);
    width: 100%;
    margin-bottom: 10px;
}

.post-article-header {
    height: 58px;
    display: flex;
    align-items: center;
}

.post-header-img-container {
    height: 50px;
}

.post-article-header img {
    border-radius: 50%;
    height: 100%;
}

.post-article-header-info {
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-top:5px;
}

.post-article-header-username {
    margin-bottom: 1px;
    font-size: 18px;
}

.post-article-header-creation-date {
    color: rgb(62, 62, 62);
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.post-article-header-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .post-article-header-end button {
        border: 0px;
    }

.posts-interaction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.post-article-content {
    margin: 10px 6px;
    overflow:hidden;
    overflow-wrap: break-word;
}
.wrapped-description {
    max-height: 250px;
    overflow: hidden;
}
.unwrapped-description {
    max-height: 7500px;
    overflow: hidden;
}
.toggle-show-more-button {
    border: none;
    color: rgb(33, 125, 213);
    background-color: transparent;
}

.link-to-profile{
    text-decoration: none;
    color: black;
}


.btn-like-post {
    color: rgb(107, 180, 251);
    align-items: center;
}

    .btn-like-post:hover {
        background-color: rgb(245, 245, 245);
    }
